// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
// Variables
:root {
  // Base colors
  --white: #ffffff;
  --black: #181818;
  --beige: #fefef7;
  --green: #0B5351;

  // Dividers
  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  // Text colors
  --text-light-1: var(--green);
  --text-light-2: var(--green);
  --text-dark-1: var(--beige);
  --text-dark-2: var(--beige);

  // Semantic colors
  --color-background: var(--beige);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --color-primary: var(--green);

  // Layout
  --section-gap: 160px;

  // Typography
  --font-family: 'Playfair', serif;
  --font-family-heading: 'Playfair', serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-green);
    --color-background-soft: var(--vt-c-green-soft);
    --color-background-mute: var(--vt-c-green-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-primary: var(--vt-c-beige);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
