// Variables
:root {
  // Base colors
  --white: #ffffff;
  --black: #181818;
  --beige: #fefef7;
  --beige-light: #fefefc;
  --beige-dark: #e5e5de;
  --green: #0B5351;
  --green-light: #3c7574;
  --green-dark: #0a4b49;

  // Dividers
  --divider-light-1: rgba(60, 60, 60, 0.12);
  --divider-light-2: rgba(60, 60, 60, 0.05);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  // Text colors
  --text-light-1: var(--green);
  --text-light-2: var(--green);
  --text-dark-1: var(--beige);
  --text-dark-2: var(--beige);

  // Semantic colors
  --color-background: var(--beige);
  --color-background-light: var(--beige-light);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --color-primary: var(--green);
  --color-primary-light: var(--green-light);
  --color-primary-dark: var(--green-dark);

  // Icons
  --icon-size: 24px;
  --icon-size-small: 16px;
  --icon-color: var(--text-light-1);
  --icon-color-hover: var(--text-light-2);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-background: var(--vt-c-green);
//     --color-background-soft: var(--vt-c-green-soft);
//     --color-background-mute: var(--vt-c-green-mute);

//     --color-border: var(--vt-c-divider-dark-2);
//     --color-border-hover: var(--vt-c-divider-dark-1);

//     --color-primary: var(--vt-c-beige);

//     --color-heading: var(--vt-c-text-dark-1);
//     --color-text: var(--vt-c-text-dark-2);
//   }
// }

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
}
